@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    background-color: white;
}
.font-text{
    font-family: "Yrsa", serif;
}
.primary-color{
    color: #205781;
}
.secendary-color{
    color: #4F959D;
}
.light-color{
    color: #98D2C0;
}
  .banner-box {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  .banner-div:hover .banner-box {
    opacity: 1;
    transform: translateY(0);
  }
 .active{
  color: #205781;
 }

@layer utilities {
  .animation-delay-500 {
    animation-delay: 0.5s;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}

  